<p-tabView>
    <p-tabPanel header="User" leftIcon="pi pi-user">
      <app-user></app-user>
    </p-tabPanel>
    <p-tabPanel header="Occupation" leftIcon="fas fa-briefcase">
      <app-occupation></app-occupation>
    </p-tabPanel>
    <p-tabPanel header="Education" leftIcon="fas fa-graduation-cap">
        <app-education></app-education>
    </p-tabPanel>
    <p-tabPanel header="Skills" leftIcon="fas fa-tools">
      <app-skills></app-skills>
  </p-tabPanel>
    <p-tabPanel header="Interests" leftIcon="pi pi-info">
        <app-interests></app-interests>
    </p-tabPanel>
    <p-tabPanel header="Social media" leftIcon="pi pi-users" >
         <app-social-media-editor></app-social-media-editor>
    </p-tabPanel>
    <p-tabPanel header="External links" leftIcon="fas fa-link" >
            <app-links></app-links>
       </p-tabPanel>
</p-tabView>
