
hr {
  color: #e57373;
  background-color: #e57373;
  height: 10px;
}

.position-name{margin-bottom: 0;
  position: relative;
}

img:hover{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

i { margin-right: 8px; }

.card-content {
  text-align: left;
  text-justify: inter-word;
}

.titleCard {
  font-size: 12px !important;
  line-height: 1.0 !important;
}

.textCard {
  font-size: 10px !important;
  padding: 12px !important;
}

.date { font-weight: bold; font-size: 12px; margin-bottom: 5px;}
.sector { font-size: 10px; margin-bottom: 2.5px;}
.company { font-size: 16px; margin-bottom: 5px;}
.institution { font-size: 14px; margin-bottom: 5px; }
.course { font-size: 16px; margin-bottom: 5px; }
.note { font-weight: bold; font-size: 12px; margin-top: 10px;  }


