<div class="container">

  <h3 class="first">Edit post!</h3>

  <hr>

<form #post="ngForm" (ngSubmit)="save(post)" >

<!-- Date -->
  <span *ngIf="show" class="ui-float-label">
    <input  type="date" size="10" ngModel name="datea" styleClass="wid100"
     pInputText>
    <label for="float-input">Date</label>
  </span>

  <span *ngIf="!show" class="ui-float-label">
      <input [disabled]="true" size="10" [ngModel]="date" name="datea" styleClass="wid100"
       pInputText>
      <label for="float-input">Date</label>
    </span>
    <br>

  <!-- Title -->
  <span *ngIf="!show" class="ui-float-label">
    <input type="text" name="title" [ngModel]="updatePost.title" required size="30" pInputText>
    <label for="float-input">Title</label>
  </span>

  <span *ngIf="show" class="ui-float-label">
      <input type="text" name="title" ngModel required size="30" pInputText>
      <label for="float-input">Title</label>
    </span>

  <!-- preview -->
  <span *ngIf="show" class="ui-float-label">
    <textarea [rows]="5" [cols]="30" name="preview" ngModel pInputTextarea
      autoResize="autoResize"></textarea>
    <label for="float-input">Preview</label>
  </span>

  <span *ngIf="!show" class="ui-float-label">
    <textarea [rows]="5" [cols]="30" name="preview" [ngModel]="updatePost.preview" pInputTextarea
      autoResize="autoResize"></textarea>
    <label for="float-input">Preview</label>
  </span>

  <hr>
  <!-- Content -->
  <span *ngIf="show"><label>Content</label>
    <p-editor name="content" ngModel required [style]="{'height':'320px'}"></p-editor>
  </span>

  <span *ngIf="!show"><label>Content</label>
    <p-editor name="content" [ngModel]="updatePost.content" required [style]="{'height':'320px'}"></p-editor>
  </span>
  <hr>

  <!-- Labels -->
  <!----span><label>Labels</label>
    <p-chips ngModel name="skills" required
    [formControl]="typeahead" (input)="suggest()" ></p-chips>
    <div class="suggestions" *ngIf="suggestions.length">
      <p *ngFor="let s of suggestions">{{s}}</p>
    </div>
  </span--->

  <hr>

  <button style="margin-right: 2.5px;" pButton type="button" label="Clear"
  icon="pi pi-times" class="ui-button-danger" (click)="post.reset()"></button>

  <button style="margin-right: 2.5px;" pButton type="submit" label="Save"
    icon="pi pi-check" class="ui-button-success" *ngIf="show"
    [disabled]="!post.valid" ></button>

  <button style="margin-right: 2.5px;" pButton type="submit" label="Upload"
    icon="pi pi-upload" class="ui-button-warning" *ngIf="!show"
    [disabled]="!post.valid"></button>

  </form>
  <hr>

  <button style="margin-right: 2.5px;" pButton type="button" label="Back"
   icon="pi pi-chevron-left" class="ui-button-info" (click)="toBack();"></button>
  <hr>

</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
