<div class="container">

  <h3 class="first">Edit post!</h3>

  <hr>


  <span class="ui-float-label">
    <input id="float-input" type="hidden" size="10" [(ngModel)]="date" styleClass="wid100"
     pInputText>
    <label for="float-input">Date</label>
  </span>
  <br>
  <p>{{ date | formatDate }}</p>

  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText>
    <label for="float-input">Title</label>
  </span>

  <span class="ui-float-label">
    <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
    <label for="float-input">Preview</label></span>

  <hr>

  <p-editor [(ngModel)]="text1" [style]="{'height':'320px'}"></p-editor>

  <hr>

  <span class="ui-float-label">
      <p-autoComplete [(ngModel)]="countries" [suggestions]="filteredCountriesMultiple"
      (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
          [minLength]="1" field="name" [multiple]="true">
      </p-autoComplete>
  <label for="float-input">Labels</label></span>
  <ul>
      <li *ngFor="let c of countries">{{c.name}}</li>
  </ul>

  <hr>



  <button style="margin-right: 2.5px;" pButton type="button" label="Clear"
  icon="pi pi-times" class="ui-button-danger" (click)="text1=null"></button>

  <button style="margin-right: 2.5px;" pButton type="button" label="Save"
    icon="pi pi-check" class="ui-button-success" *ngIf="show"></button>

  <button style="margin-right: 2.5px;" pButton type="button" label="Upload"
    icon="pi pi-upload" class="ui-button-warning" *ngIf="!show"></button>

  <hr>

  <button style="margin-right: 2.5px;" pButton type="button" label="Back"
   icon="pi pi-chevron-left" class="ui-button-info" (click)="toBack()"></button>

  <hr>

</div>

<p>Value: {{text1||'empty'}}</p>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
