
<h5>other posts</h5>


<div *ngIf="labels">
<a class="chip sizeChip teal accent-4" (click)="filterLabel('Recent')">Recent</a>
<a class="chip sizeChip teal accent-3" *ngFor="let l of labels" (click)="filterLabel(l.label);">
  {{ l.label }}</a>
</div>

<br>
<a *ngFor="let post of auxPost | slice:0:5; index as i" (click)="viewPost(post)">
  <p-card [style]="{'background-color': '#ff8a80'}" header="{{ post.title | slice:0:20 }}{{ post.title.length >= 20 ? '...' : '' }}" subheader="{{ post.date }}" >
    <div>{{ post.id }} - {{ post.preview | slice:0:30 }}{{ post.preview.length >= 30 ? '...' : '' }}</div>
  </p-card>
  <br>
</a>

<h5>external links</h5>

<div *ngIf="links" class="collection">
    <a *ngFor="let l of links" target="_blank" href="{{ l.link }}" class="collection-item">{{ l.name }}</a>
</div>
