<hr>
<h6>other posts</h6>
<hr><hr><hr>

<div *ngIf="labels">
<a class="chip" (click)="filterLabel('Recent')">Recent</a>
<a class="chip"  *ngFor="let l of labels" (click)="filterLabel(l.label);">
  {{ l.label }}</a>
</div>

<br>
<a *ngFor="let post of posts | slice:0:5; index as i" href="#">
  <p-card [style]="{'background-color': '#ff8a80'}" header="{{ post.title | slice:0:20 }}{{ post.title.length >= 20 ? '...' : '' }}" subheader="{{ post.date }}" >
    <div>{{ post.id }} - {{ post.preview | slice:0:30 }}{{ post.preview.length >= 30 ? '...' : '' }}</div>
  </p-card>
  <br>
</a>
