<!-- div class="container-fluid">
  <div class="col-6 input-group">

  <div class="row" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll();"
  [scrollWindow]="false" style="height: 400px; overflow-y: scroll;" [infiniteScrollContainer]="selector">
  <ul *ngIf="!posts">
      <li *ngFor="let post of posts">
          <img class="responsive-img" src="../../../assets/images/book.jpg" alt="{{ post.id }}">
          <p>{{ post.id }}. {{ post.preview }} {{ post.title }}</p>
      </li>
  </ul>
  </div>

</div

<div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance"
      [infiniteScrollThrottle]="throttle"
      (scrolled)="onScrollDown()">

      <li>
        <img class="responsive-img" src="../../../assets/images/book.jpg" alt="{{ post.id }}">
        <p>{{ p.id }}. {{ p.preview }} {{ p.title }}</p>
    </li>

</div>-->
<h3 *ngIf="!posts">no posts!</h3>

  <div *ngIf="posts" class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="0.2"
  [infiniteScrollThrottle]="0.2"
  [scrollWindow] = "true"
  (scrolled)="onScrollDown()">

    <!--Aqui enfiar post object-->
    <div class="p-col-12 p-md-12 p-lg-12" *ngFor="let p of posts" >
      <app-post></app-post>
    </div>
</div>
