
<!-- Modal Structure email -->
<div id="contact-modal" class="modal">
  <div class="modal-content">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
    <p-panel header="Validate">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="name" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Name is required" *ngIf="!contactForm.controls['name'].valid&&contactForm.controls['name'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Last Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Lastname is required" *ngIf="!contactForm.controls['lastname'].valid&&contactForm.controls['lastname'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Password *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                </div>
                <div class="ui-grid-col-4">
                <p-message severity="error" [text]="contactForm.controls['password'].errors['required'] ? 'Password is required' : contactForm.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''"
                        *ngIf="!contactForm.controls['password'].valid&&contactForm.controls['password'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Message:
                </div>
                <div class="ui-grid-col-6">
                    <textarea pInputTextarea type="text" formControlName="message"></textarea>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
            <!--div class="ui-grid-row">
              <div class="ui-grid-col-2"></div>
              <div class="ui-grid-col-6">
                <p-toast [style]="{marginTop: '80px'}"></p-toast>

                <p-captcha siteKey=""
                 (onResponse)="showResponse($event)"></p-captcha>
              </div>
              <div class="ui-grid-col-4"></div>
            </div-->
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Submit" [disabled]="!contactForm.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
              <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                  Form Submitted
                  <br>
                  {{diagnostic}}
              </div>
        </div>
    </p-panel>
  </form>
</div>
  <div class="modal-footer teal accent-4">
    <a onclick="$('#email-modal').modal('close');" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
