
<section>
  <p-card header="Add social media">
    <form #socialMedia="ngForm" (ngSubmit)="save(socialMedia); socialMedia.reset()" >
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
          <div class="ui-inputgroup">
            <span class="ui-float-label">
              <input id="link" size="60" type="url" pInputText name="link" ngModel required>
              <label for="float-input">Link</label>
            </span>

            <div class="ui-inputgroup" style="margin-left: 5px;">
              <p-dropdown [options]="medias" name="media" ngModel required [autoWidth]="false" ></p-dropdown>
            </div>
          </div>
          </div>
        </div>
      <button pButton type="submit" [disabled]="!socialMedia.valid" label="add" icon="pi pi-plus"></button>
    </form>
  </p-card>
</section>

<div class="divider"></div>

<section>
  <p-card header="Social media list">
    <div class="row">
      <div class="col s6 m6 l4"  *ngFor="let m of listMedias">
        <div class="card teal lighten-4">
          <div class="card-content black-text">
            <p>
              <i class="small fa fa-{{ m.media }}"></i>  {{ m.link }}
            </p>
          </div>
          <div class="card-action">
            <button pButton (click)="delete(m.id)" type="button" class="ui-button-danger" icon="pi pi-times" label="delete"></button>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</section>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>
