<h3 *ngIf="!posts">no posts!</h3>

<ngb-pagination *ngIf="posts" [collectionSize]="posts.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>

<div class="row" *ngIf="posts">

    <div class="col s12 m4 l4" *ngFor="let post of posts | slice: pageSize | slice: 0:itemsPerPage" >

    <div class="card sticky-action" >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./../../../assets/images/book.jpg">
      </div>
      <div class="card-content">
          <strong>{{ post.date }}</strong>
        <span class="card-title activator grey-text text-darken-4">{{ post.title | slice:0:50 }}{{ post.title.length >= 50 ? '...' : '' }}
          <i class="material-icons right tooltipped" data-position="right" data-tooltip="Preview">
            more_vert</i>
        </span>
          <br>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{ post.title }}
          <i class="material-icons right">close</i></span>
        <p>{{ post.id }} - {{ post.preview }}</p>
        <div *ngFor="let l of post.label" class="sizeChip chip teal accent-3">
            {{ l }}
        </div>
      </div>
      <div class="card-action">
        <button type="button" pButton (click)="viewPost(post)" label="Open" class="ui-button-info"></button>
      </div>
    </div>

  </div>
</div>

<ngb-pagination [collectionSize]="posts.length" #numaPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
        <!--pre><span class="float-md-left">Page: {{ currentPage }} / {{numaPages.pageCount}} Found items: {{ itemsPerPage }} / {{ posts.length }}</span></pre-->
