.blog-post{	margin-top:20px; font-size: 14px !important; }

.blog-preview{ font-style: italic; font-size: 16px !important; }

time { font-size: 14px !important; font-weight: bold; }

.blog-footer{ margin-top: 40px; margin-bottom: 20px; }

hr { color: #e57373; background-color: #e57373; height: 4px; }