
<p-dialog header="" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
        [maximizable]="true" [baseZIndex]="10000">
        <app-post [post]="modalPost"></app-post>
        <p-footer>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Return" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

<!--button-- type="button" pButton icon="pi pi-info-circle" label="Show"></button-->

<div class="row">
  <div class="col l1 xl1"></div>
  <div class="col s12 m12 l9 xl9">
    <section>
      <div class="btnBlog">
      <a class="btn-floating btn-small waves-effect waves-light" (click)="toggleShowBlog()" *ngIf="showBlog">
        <i class="material-icons">view_headline</i></a>
      <a class="btn-floating btn-small waves-effect waves-light" (click)="toggleShowBlog()" *ngIf="!showBlog">
        <i class="material-icons">view_comfy</i></a>
      </div>
      <hr>
    </section>

    <section>

      <app-list-post *ngIf="!showBlog" [posts]="listPost" ></app-list-post>

      <app-card *ngIf="showBlog" [posts]="listPost" (showPost)="reciverPost($event)"></app-card>

    </section>

  </div>

  <div class="col s12 m12 l2 xl2">
    <app-feed [posts]="listPost" [labels]="listLabel" (showPost)="reciverPost($event)"></app-feed>
  </div>

</div>

<!--p *ngIf="liberateEdit">
    Login ok!
</p>


<nav *ngIf="liberateEdit" class="red lighten-2">
  <div class="container nav-wrapper">
    <a routerLink="" class="brand-logo">{{ name }}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="" >Home</a></li>
      <li routerLinkActive="active" ><a routerLink="about-me">About me</a></li>
      <li routerLinkActive="active" ><a routerLink="blog">Blog</a></li>
      <li>
          <button *ngIf="liberateEdit" class="waves-effect waves-light btn blue" type="submit" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav-->
