<div class="container">
  <p>
  blog works!
</p>
<p *ngIf="liberateEdit">
    Login ok!
</p>

</div>
<nav *ngIf="liberateEdit" class="red lighten-2">
  <div class="container nav-wrapper">
    <a routerLink="" class="brand-logo">{{ name }}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="" >Home</a></li>
      <li routerLinkActive="active" ><a routerLink="about-me">About me</a></li>
      <li routerLinkActive="active" ><a routerLink="blog">Blog</a></li>
      <li>
          <button *ngIf="liberateEdit" class="waves-effect waves-light btn blue" type="submit" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<app-publisher></app-publisher>
