<section>

<h5>Skill</h5><hr>

<form #skill="ngForm" (ngSubmit)="updateSkills(skill); skill.reset();">
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  <div class="ui-grid-row">
    <div class="ui-grid-col-6">
      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" required ngModel name ="title" pInputText>
        <label for="float-input">Title</label>
      </span>
    </div>
  </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-6">
        <p-chips ngModel name="skills" required ></p-chips>
      </div>
  </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <button pButton type="submit" label="Add" icon="pi pi-plus"
            class="ui-button-rounded ui-button-success" [disabled]="!skill.valid">
        </button>
      </div>
    </div>
    </div>
</form>
<br>

<div class="divider"></div>

<section>
<h6>Skills</h6><hr>

<div class="row">

  <div class="col s6 m3 l3" *ngFor="let item of listSkills">
      <div class="card yellow accent-4 z-depth-2">
        <div class="card-content textCard">
          <span class="card-title titleCard"><b>{{ item.title }}</b></span>
          <p *ngFor="let s of item.skills">
            <i class="fas fa-wrench"></i>{{ s }}</p>
        </div>
        <div class="card-action">
          <button pButton type="button" icon="pi pi-times"
            class="ui-button-rounded ui-button-danger" label="Delete"
            (click)="deleteSkill(item.id)">
          </button>
        </div>
      </div>
  </div>

</div>

</section>
<p-growl [value]="msgs"></p-growl>
