

<div class="row">
      <div class="container">
          <hr class="red darken-2"><br>
        <div class="col s5 m4">
             <img src="../../assets/images/person.jpg" class="circle responsive-img"> <!-- notice the "circle" class -->        
        </div>
        <div class="col s7 m8">
           <div routerLink="about-me" class="card red lighten-1">
            <div class="card-content white-text">
              <span class="card-title">About me</span>
              <p>{{ aboutMe }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
  <div class="container left-align">
      <hr class="red darken-2">
      <h4 class="black-text position-name">
          {{ name }}
        </h4> 
        <h6>{{ career }}</h6>
      <div class="col s12 m12">
          
        </div>
  </div>
  </div>

